@import 'shared/ui/scss/_colors.scss';

.button {
  font-size: 16px;
  font-family: 'Poppins';
  color: rgb(250, 250, 250);
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  padding: 10px 0;
  width: 180px;
  border: none;
  background-color: $primary;
  cursor: pointer;
}
