@import 'shared/ui/scss/_colors.scss';

.footer {
  background-color: $primary;

  & p {
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.357;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 22px;
  }
}
