@import 'shared/ui/scss/_colors.scss';

.detailsWrapper {
  width: 100%;
  background-color: $background-light;
  padding-bottom: 130px;

  &__title {
    padding-top: 130px;
    font-size: 24px;
    text-align: center;
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
  }

  &__subtitle {
    padding-top: 11px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.278;
    text-align: center;
    text-transform: capitalize;
  }
}

.articlesWrapper {
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    &__text {
      font-size: 15px;
      color: rgb(232, 225, 225);
      line-height: 1.867;
      text-align: left;
      padding-top: 20px;
      width: 570px;
    }
  }
}
