.commentTile {
  padding-bottom: 30px;
  &__date,
  &__text {
    font-size: 15px;
    color: rgb(232, 225, 225);
    line-height: 1.867;
    text-align: left;
  }

  &__title {
    display: flex;
    align-items: center;

    &__author,
    &__email {
      padding-bottom: 5px;
      font-size: 20px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
    }
  }
}
