@import 'shared/ui/scss/_colors.scss';

.link {
  text-decoration: none;
  color: #f9f9f9;
  text-align: right;
  font-size: 1rem;
  line-height: 1.25;
  padding-right: 4rem;

  &.active {
    text-decoration: line-through;
    color: $primary;
  }
}
